html, body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: url(../assets/backgroundimage3.png);
  background-repeat: no-repeat;
  height: 450vh;
  overflow: hidden;
}
/* Global classes */

a {
  text-decoration: none;
  color:black;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: GT Walsheim Pro Trial;
  font-size: 3.5rem;
}

p {
  font-family: Avenir;
  font-size: 1.2rem;
}

button.btn {
  background: black;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  font-family: GT Walsheim Pro Trial;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Navbar */

.nav {
  background: transparent;
  padding: 0 2rem;
  height: 8vh;
  min-height: 8vh;
  overflow: hidden;
  /* position: fixed; */
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0;
  width: 90%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
  font-size: 1.4rem;
  color: black;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1.6rem;
  font-size: 1.1rem;
  position: relative;
  font-family:  Avenir;
}

.nav .nav-items .nav-link:hover{
  background-color:#F78F6F;
}
.nav .nav-items .nav-link:hover a{
  color:white;
}

.nav .nav-brand a{
  font-size: 1.6rem;
  padding: 1.2rem 0;
  text-decoration: none;
  display: block;
  font-family:  GT Walsheim Pro Trial;;
  font-weight: bold;
}

.nav .social {
  padding: 1.4rem 0;
}
.logo-white {
  padding-top: 4px;
}

.logo-white img {
  background: #131F22;
  border-radius: 50%;
  width: 7vh;
  height: 7vh;
  align-content: center;
  margin: 0;
}

.logo-white img:hover {
  border-radius: 25%;
}
.nav .social a {
  padding: 0 .2rem;
}
.nav .social a:hover {
  color: #a1c4cf;
}

/* Navbar */

/*  Main Content   */

/*  Site Title   */

main .site-title {
  /* background: url(../assets/Background.png); */
  /* background: url(../assets/surfrider_Plastic.jpg); */
  /* background-size: cover;  */
  height: 100vh;
  display: flex;
  justify-content: center;
}

main .site-title .site-background {
  padding-top: 14rem;
  text-align: center;
  color:#274A62;
  max-width: 60vw;
}

main .site-title h1 {
  margin: .3rem;
}

main .site-title .btn {
  margin-top: 11rem;
  align-content: center;
  text-align: center;
}

main .site-title .button:hover {
  background: transparent;
  border: 1px solid black;
  color: black;
  overflow: hidden;
}
main .site-title .divebox {
  background-color: transparent;
  height: 10em;
  width: 0.1em;
  position: absolute;
  top: 80%;
  left: 50%;
  border: none;
  border-left: 4px dotted;
  overflow: hidden;
}

/*  Site Title   */
/* Issue Title */
main .issue-title {
  /* background: url(../assets/Layer2.png); */
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
}

main .issue-title .issue-background {
  padding-top: 14rem;
  text-align: center;
  max-width: 60vw;
  color: white;
}
main .issue-title h1 {
  margin: .3rem;
}
/* Issue Title */

/* Events Title */
main .event-title {
  /* background: linear-gradient(180deg, #0A78A5 0%, #131E20 100%); */
  /* background-size: cover; */
  height: 100vh;
  /* display: flex;*/
  justify-content: center; 
  color: white;
}

main .event-title .event-background {
  /* padding-top: 4rem;
  padding-left: 1rem;*/
  /* text-align: left; */
  color: white;
}

main .event-title .event-background h1 {
  margin: auto;
  width: 70vw;
}
main .event-title .myCalendar {
  display: grid;
  grid-gap: 10px;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 325px 325px 120px;
  margin: 0 auto 20px;
  max-width: 70vw;
}
.myCalendar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-sizing: border-box;
  vertical-align: middle;
}
.myCalender .item {
  overflow: hidden;
}

.myCalendar span {
  margin: 0;
  padding: 1em;
  position: absolute;
  bottom:0;
  left: 0;
  /* width: 100%; */
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
  transition: transform 0.5s;
  font-family: avenir;
  /* background: rgba(39, 74, 98, 20%); */
} 

.myCalendar .item:hover {
  transform: translateY(0%);
}


/* Events Title */
main .mission-title .mission-background {
  padding-top: 14rem;
  text-align: center;
  max-width: 60vw;
}
/* Mission Title */
main .mission-title {
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
}

main .mission-title {
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
}
/* Mission Title */

/*  Main Content   */

/* Footer */
footer {
  height: 50vh;
  width: 100%;
  color: black;
  text-decoration: none;
  background-color: white;
}

footer li img {
  width: 40px;
  height: 40px;
}
footer ul li {
  display: inline-block;
  align-content: right;
  position: relative;
  left: 60vw;
}
footer .colorbox {
  width: 60px;
  height: 60px;
}

/* Footer */
/*      Viewport less than or equal to 770px */
@media only screen and (max-width: 770px){
  .nav .nav-menu, .nav .nav-items{
    flex-direction: column;
  }
  .nav .toggle-collapse {
    display: initial;
  }
  main .site-title .divebox {
    height: 5em;
  }
  main h1 {
    font-size: 2.5rem;
  }
  main p {
    font-size: 0.9rem;
  }
  main .event-title .myCalendar {
    grid-template-columns: repeat(2, 1fr);
  }
}
    
/*      Viewport less than or equal to 750px */

/*      Viewport less than or equal to 380px IphoneX */
@media only screen and (max-width: 380px){
  
  main h1 {
    font-size: 2rem;
  }
  main .site-title .site-background {
  max-width: 70vw;
  }
  main p {
    font-size: 0.8rem;
  }
}
/*      Viewport less than or equal to 380px IphoneX */



