html, body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  background: linear-gradient(180deg, #1782B0 0%, #1C2C35 100%);
  background-size: cover;
  height: 100vh;
}

/* Global Styles */
a {
  text-decoration: none;
  color:black;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: GT Walsheim Pro Trial;
  font-size: 3.5rem;
}

p {
  font-family: Avenir;
  font-size: 1.2rem;
}

button.btn {
  background:#131F22;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  font-family: GT Walsheim Pro Trial;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Global Styles */

/* Navbar */

.nav {
  background: white;
  padding: 0 2rem;
  height: 8vh;
  min-height: 8vh;
  overflow: hidden;
  /* position: fixed; */
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0;
  width: 90%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
  font-size: 1.4rem;
  color: black;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1.6rem;
  font-size: 1.1rem;
  position: relative;
  font-family:  Avenir;
}

.nav .nav-items .nav-link:hover{
  background-color:#F78F6F;
}
.nav .nav-items .nav-link:hover a{
  color:white;
}

.nav .nav-brand a{
  font-size: 1.6rem;
  padding: 1.2rem 0;
  text-decoration: none;
  display: block;
  font-family:  GT Walsheim Pro Trial;;
  font-weight: bold;
}

.nav .social {
  padding: 1.4rem 0;
}
.logo-white {
  padding-top: 4px;
}

.logo-white img {
  background: #131F22;
  border-radius: 50%;
  width: 7vh;
  height: 7vh;
  align-content: center;
  margin: 0;
}

.logo-white img:hover {
  border-radius: 25%;
}
.nav .social a {
  padding: 0 .2rem;
}
.nav .social a:hover {
  color: #a1c4cf;
}
/* Navbar */

/* Form Styles */

.donation-box .fields {
	width: 59%;
	display: block;
	position: absolute;
	top: 10px;
	left: 15px;
  font-family: Avenir;
  flex-wrap: wrap;
}


.donation-box h1 {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.donation-box {
  background:  rgba(0, 0, 0, 40%);
  
	width: 55vw;
	height: 50vh;
	border-radius: 6px;
	position: relative;
	margin: auto;
}

.donation-box .switch{
  color: white;
  position: relative;
}
input[type=text] {
  border-radius: 4px;
  width: 50%;
  height: 20px;
  font-family: Avenir;
  color: black;
}

.donation-box .amount {
	width: 30%;
	display: block;
	position: absolute;
	top: 60px;
	right: 15px;
}
.donation-box .feilds input {
  display: block;
  margin: 7px 7px;
}

.donation-box .amount .button {
	width: 100%;
	background-color: rgb(83, 163, 238);
	margin-bottom: 10px;
	text-align: center;
	color:white;
	padding: 15px 0px 15px 0px;
	border-radius: 4px;
	font-size: 20px;
	cursor: pointer;
}

.donation-box .amount .button:hover {
	background-color:blue;
}

.donation-box .amount .button input {
	min-width: 34px;
	font-size: 20px;
	font-weight: 500;
	border: none;
	background-color: transparent;
	color: white;
	font-family: Avenir;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	border-bottom: 2px dashed white;
}

.set-amount {
	max-width: 96px;
}

.checkboxes {
  position: absolute;
  top: 242px;
	left: 13px;
}

.checkboxes label {
	position: flex;
	font-size: 13px;
	color: white;
  font-family: Avenir;
}

.checkbox {
  border: 1px solid blue; 
  border-radius: 4px;
  padding: 10px;
  display: inline-block;
  position: relative;
}
.donation-box .donate button {
  margin-left: 45%;
}
/* Form Styles */


/*      Viewport less than or equal to 770px Tablet */
@media only screen and (max-width: 770px){
  
  .donation-box h1 {
    font-size: 2.5rem;
  }
}
/*      Viewport less than or equal to 750px */
/*      Viewport less than or equal to 380px IphoneX */
@media only screen and (max-width: 380px){
  
  .donation-box h1 {
    font-size: 1.5rem;
  }
}
/*      Viewport less than or equal to 380px IphoneX */
